.content-part {
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px 0 0 10px;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 3rem;

  font-family: Inter;

  .title {
    h1{
      font-size: 3rem;
    }
    .hilight {
      color: var(--soft-violet);
    }
  }

  .discreption,
  .statistics .text {
    color: var(--slightly-transparent-white-100);
  }

  .discreption{
    margin-top: -1rem;
    padding-right: 8rem;
  }

  .statistics {
    margin-top: 7rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .statistics-part {
      display: flex;
      flex-direction: column;

      .number{
        font-weight: bold;
        font-size: 1.5rem;
      }

      .text {
        text-transform: uppercase;
        font-family: "Lexend Deca";
      }
    }
  }
}

@media  screen and (max-width: 375px) {
  .content-part{
    width: 100%;
    padding: 1rem;

    .title{
      h1{
        font-size: 2rem;
        text-align: center;
      }

    }

    .discreption{
      padding: 0 1rem;
      line-height: 2;
      text-align: center;
    }

    .statistics{
      flex-direction: column;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 0;
      margin: 0;
      justify-content: center;

      .statistics-part{
        margin-top: 2rem;
      }
    }
  }
}